.item{
    width: 200px;
    height: 200px;
    background-color: green;
    border-radius: 50%;
    margin: 40px auto;
}

.box {
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 20px;
    margin: 40px auto;
}